# .flake8
#
# AUTHOR
#     krnd
#
# VERSION
#     1.4
#
# SEE ALSO
#     http://flake8.pycqa.org/en/latest/user/options.html
#     http://flake8.pycqa.org/en/latest/user/error-codes.html
#     https://pycodestyle.readthedocs.io/en/latest/intro.html#error-codes
#     https://gist.github.com/krnd
#
[flake8]

# Specify the number of subprocesses that Flake8 will use to run checks in parallel.
jobs = auto


################### OUTPUT #################################

# Verbosity
verbose = 0
quiet = 0

# Formatting
format = default
count = True
show-source = True
statistics = True

# Targets
output-file = .flake8.log
tee = True


################### FILE PATTERNS ##########################

# Exclude directories from checks
exclude =
    .git,
    __pycache__,
    .pytest_cache,
    .mypy_cache,
    .venv,
    build,
    dist,
    data,
    .flatpak-builder

# Include files for checks
filename = *.py


################### LINTING ################################

# Environment
builtins =

# Options
disable-noqa = False
max-line-length = 120
max-complexity = 10
hang-closing = True


# Rules
#
# ERROR CODES
# E/W  - PEP8 errors/warnings (pycodestyle)
# F    - linting errors (pyflakes)
# C    - McCabe complexity error (mccabe)
#
# E133 - closing bracket is missing indentation (conflicts with black)
# E203 - whitespace before ‘:’ (conflicts with black)
# W503 - line break before binary operator
# F401 - module imported but unused
# F403 - ‘from module import *’ used; unable to detect undefined names

# Ignore specific error codes
ignore =
    E133,
    E203,
    E402,
    W503

# Report all error codes
select =
    E,
    W,
    F,
    C

# Per-file ignores
per-file-ignores =
    __init__.py:F401,F403

# Enable off-by-default extensions
enable-extensions =


########## Docstring ##########

# Enable PyFlakes syntax checking of doctests in docstrings.
doctests = True

# Specify which files are checked by PyFlakes for doctest syntax.
include-in-doctest =

# Specify which files are not to be checked by PyFlakes for doctest syntax.
exclude-in-doctest =
