* {
    font-family: Cantarell, Ubuntu, sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', Arial, sans-serif;
    color: #eee;
}

/* Header Bar */
.AdwHeaderBar {
    padding: 0.75rem 1rem;
    background-color: #333;
    color: #eee;
}

label {
    font-size: 15px;
    color: #ccc;
}

.frame {
    border: 1px solid #555;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4), 0 4px 8px rgba(0, 0, 0, 0.4);
    padding: 10px;
    background-color: #444;
}

.column-header {
    font-weight: bold;
    color: #fff;
}

.column-view-row label {
    font-size: 15px;
    color: #ccc;
    padding-left: 3px;
    padding-right: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.text-view-entry {
    font-weight: bold;
    color: #FFA500;
}

.view {
    font-size: 15px;
    color: #ccc;
}

