#label {
	font-size: 14px;
	color: #fff;
}

column-header {
	font-weight: bold;
}

column-view-row label {
	font-size: 13px;
	color: #666;
	padding-left: 3px;
	padding-right: 5px;
	padding-top: 1px;
	padding-bottom: 1px;
}

.view {
	font-size: 16px; 
}
